* {
  width: 100%;
  box-sizing: border-box;
}

body, html {
  user-select: none;
  height: 100%;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  /* background: linear-gradient(to right bottom, rgb(24, 24, 24), rgb(19, 19, 19)) fixed; */
  background-repeat: no-repeat;
  margin: 0;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

main {
  flex: 1 1 auto;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.general {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  vertical-align: middle;
}

.location-input {
  display: flex;
  margin:auto;
  margin-top: 0;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  width: 350px;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgba(45, 71, 218, 0.6);
  box-shadow: 0 5px 10px rgba(185, 185, 185, 0.5);
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  border: 2px solid rgba(59, 88, 255, 0.39);
  font-size: 20px;
  transition: all 0.1s linear;
}

.location-input::placeholder {
  color: rgba(45, 71, 218, 0.404);
}

.location-input:focus {
  outline: none;
  border: 2px solid rgba(59, 88, 255, 0.39);
  background-color: white;
  width: 400px;
  border-radius: 15px;
  background-color: #ffffff;
  transform: translateY(2px);
}

.location-input:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.search-button, .clear-button {
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  user-select: none;
  box-shadow: 0 5px 10px rgba(185, 185, 185, 0.5);
  transition: all 0.1s linear;
}

.search-button {
  background-color: aquamarine;
}

.clear-button {
  background-color: lightcoral;
}

.search-button:hover, .clear-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.search-button:active, .clear-button:active {
  transform: translateY(4px);
}

.description-label {
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
}

label, span{
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 20px;
}

span {
  font-size: 20px;;
  color: rgb(127, 255, 148);
  text-shadow: 2px 2px 5px rgba(0, 66, 25, 0.3);
}

.weather {
  margin-top: 0;
}

.weather-form {
  visibility: hidden;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: auto;
  padding: 1em;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  font-size: 20px;
  background: linear-gradient(to right bottom, rgba(2, 162, 255, 0.5), rgba(0, 67, 252, 0.5));
  box-shadow: 0 5px 10px rgba(185, 185, 185, 0.5);
  transition: all 0.1s linear;
}

.weather-form:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.cloud-image {
  margin: auto;
  width: 260px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-cloud {
  margin: 0;
  width: inherit;
}

.owm-info {
  user-select: none;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}

.footer-label {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;
}

.footer-label:visited {
  color: rgba(255, 255, 255, 0.9);
}

.footer-label:hover {
  color: rgba(255, 217, 236, 0.9);
  text-shadow: 2px 2px 5px rgba(26, 19, 27, 0.295);
}