* {
  width: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  /* background: linear-gradient(to right bottom, rgb(24, 24, 24), rgb(19, 19, 19)) fixed; */
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  margin: 0;
  /* background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252)) fixed; */
}

div {
  background-color: rgba(202, 230, 255, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  color: white;
  background-color: rgb(174, 0, 255);
  text-transform: uppercase;
  font-size: 30px;
}

.knowyourweather {
  font-family: 'Roboto Mono';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: blueviolet; */
  color: white;
  margin: 0;
  font-size: 20px;
  background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252)) fixed;
  box-shadow: 0 5px 15px 10px #585858;
}

.knowyourweather-span {
  font-family: 'Roboto Mono';
  margin: 0;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.general {
  width: 100%;
  height: auto;
  margin-top: 30px;
  justify-content: center;
  vertical-align: middle;
}

.sun-image {
  width: 250px;
  height: 250px;
  margin-top: 1px;
  margin-bottom: 10px;
}

.location-input {
  display: flex;
  margin:auto;
  font-family: 'Roboto Mono';
  width: 350px;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: yellow;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  border: 2px solid black;
  font-size: 20px;
  transition: all 0.1s;
}

.location-input:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.location-input::placeholder {
  color: black;
}

.location-input:focus {
  width: 400px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.location-input:focus::placeholder {
  color: transparent;
}

.search-button, .clear-button {
  font-family: 'Roboto Mono';
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid black;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  user-select: none;
  background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252));
  transition: all 0.1s linear;
}

.search-button:hover, .clear-button:hover {
  background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252));
  box-shadow: 0 5px #666;
  width: 100px;
  transform: translateY(2px);
}

.search-button:active, .clear-button:active{
  background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252));
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.description-label {
  font-family: 'Roboto Mono';
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
}

label, span{
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 20px;
}

span {
  font-size: 20px;;
  color: cyan;
}

.weather {
  margin-top: 0;
}

.weather-form {
  visibility: hidden;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: auto;
  padding: 1em;
  color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 20px;
  background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252));
  transition: all 0.1s linear;
}

.weather-form:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: blueviolet; */
  color: white;
  margin: 0;
  margin-top: auto;
  font-size: 20px;
  background: linear-gradient(to right bottom, rgb(225, 2, 255), rgb(109, 0, 252)) fixed;
  box-shadow: 0 -5px 15px 10px #585858;
}

.footer-span {
  color: white;
}

.openweathermap-label {
  font-family: 'Roboto Mono';
  font-size: 20px;
  color: cyan;
  text-transform: uppercase;
  margin-top: 20px;
  text-decoration: none;
  transition: all 0.1s linear;
}

.openweathermap-label:visited {
  color: cyan;
}

.openweathermap-label:hover {
  color: cyan;
  text-shadow: 0 2px yellow;
}